form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 420px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9fafb;  
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(15, 23, 42, 0.25);
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
    margin-bottom: 1rem;
}

label{
    font-size: 0.9rem;
    font-weight: 700;
    color: #222;
}

input, textarea, select{
    padding: 0.6rem 0.75rem;
    border: 1px solid #999;
    border-radius: 8px;
    font-size: 0.95rem;
}

button[type="submit"]{
  
    width: 40%;
    margin: 0.5rem auto 0 auto;
    padding: 0.6rem 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: #4f46e5;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button[type="submit"]:hover{
    background-color: rgb(3, 200, 3);

}

button[type="reset"]{
  
    width: 40%;
    margin: 0.5rem auto 0 auto;
    padding: 0.6rem 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: #4f46e5;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button[type="reset"]:hover{
    background-color: rgb(200, 13, 3);

}

input:focus, textarea:focus, select:focus{
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 3px rgb(79, 70, 229, 0.5);
}